@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    font-family: 'Tilt Neon', cursive;
}


@media (max-width:768px) {
    body{
        font-family: 'Poppins', sans-serif;
     }
}
/* CSS only ioss */
/* @supports (-webkit-overflow-scrolling: touch) {
    body{
       font-family: 'Merriweather', serif;
    }
  } */

@layer components{
    .line-gradient::after{
        content: "";
        width: 60%;
        position: absolute;
        height: 5px;
        display:block;
        @apply rounded-md bg-gradient-to-r from-base-100 to-primary mt-1
    }
}

.detail img{
    width: 100% !important;
    display: block;
    max-width: 800px;
    padding: 8px 0px;
}